html {
  height: 100%;
}

h1 {
  color: white;
  margin: 5px;
}
h2 {
  color: white;
  margin: 5px 0;
  font-weight: 100;
  font-size: 1.2em;
}
body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #e9f6f8;
}
header {
  background-color: url(images/teams.png);
}
section {
  flex: 1;
}

section {
  padding: 15px;
}
#teamsTable {
  width: 100;
  border-collapse: collapse;
}
#teamsTable tfoot input[type="text"] {
  width: 100;
  box-sizing: border-box;
}
#teamsTable th #teamsTable th {
  border: 1px solid #057988;
  padding: 5px;
}
#teamsTable th {
  background-color: #0798ab;
  color: white;
}
#teamsTable tr:nth-child(even) {
  background-color: #f2f2f2;
}
footer {
  padding: 10px;
  background-color: lightblue;
  text-align: center;
}
#header-wrapper {
  display: flex;
  flex-direction: row;
}
#my-picture img {
  padding: 5px;
  width: 108px;
  height: 108px;
}
#my-picture img {
  border-radius: 50%;
  border: 4px solid white;
  background-color: #ffffff90;
}
#header-info {
  flex: 1;
  padding: 10px;
  text-shadow: 1px 1px 2px #000000;
}
